<% @messages.each do |message| %>
  <div class="col-md-4">
    <div class="message">
    <h2 class="message-title"><%= link_to message.title, message_path(message) %></h2>
        <%= link_to "View Messages", message_path(message), class: "btn btn-custom"%>
    </div>
  </div>
<% end %>
